<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.nirigo.mobile.overscrolls"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".OverscrollActivity"
            android:label="@string/menu_overscroll"
            />

        <activity
            android:name=".PullToRefreshActivity"
            android:label="@string/menu_pull_to_refresh"
            />

        <activity
            android:name=".ParallaxActivity"
            android:label="@string/menu_parallax"
            />

        <activity
            android:name=".EdgeEffectActivity"
            android:label="@string/menu_edge_effect"
            />

    </application>

</manifest>
